/*--------------------------------------------------------------
# fonts
--------------------------------------------------------------*/

/* raleway-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/raleway-v34-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  src: url('./fonts/raleway-v34-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# htmx swaps & indicators
--------------------------------------------------------------*/
*[hx-swap] {
  animation: animate-in 500ms ease-in-out;
}

@keyframes animate-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.htmx-indicator {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.htmx-request .htmx-indicator, .htmx-request.htmx-indicator {
  opacity: 1;
}
